<main  class="relative overflow-hidden">

  <div class="relative mx-auto px-8 max-w-7xl py-24 md:py-30 md:px-12">
    <div class="mx-auto text-center ">
      
      <h1
        class="text-black  font-bold md:text-6xl text-3xl tracking-tight">
        Carnicería Pollería Charcutería<span class="md:block"></span>
      </h1>
      <p class="mt-8 text-black font-serif text-xl">
        Más que carne, te ofrecemos confianza, frescura y cortes selectos. 
      </p>
    </div>

  </div>
</main>
