<main>
  <div class="bg-white min-h-screen p-8 mb-5" id="InicioOfertas">
    <!-- Imagen en lugar del título -->
    <div class="text-center mt-0 mb-18">
      <img
        src="/assets/ofertas.png" 
        alt="Nuestras Ofertas" 
        class="mx-auto w-70 h-auto"
        
      />
      <p class="mt-8 text-black font-serif text-xl">
        Solo por tiempo limitado, aprovecha nuestras ofertas 
      </p>
      <p class="mt-4 text-black font-serif font-bold text-xl">
        *14 - 17 Febrero* 
      </p>
    </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mx-auto max-w-screen-xl">
        <!-- Card 1 -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 md:hover:scale-105">
          <img
            src="https://www.carniceriademadrid.es/wp-content/uploads/2020/12/solomillo-de-ternera-2.jpg"
            alt="Product 1"
            class="w-full h-48 object-cover"
            
          />
          <div class="p-4">
            <h2 class="text-lg font-semibold text-gray-800">Solomillo de Ternera (por piezas)</h2>

            <div class="mt-4 flex items-center justify-between">
              <span class="text-xl font-bold text-[#964141]">29.99€ / kg</span>
              <button
                class="px-4 py-2 bg-[#964141] text-white text-sm font-medium rounded-full hover:bg-[#7a5a5a] focus:outline-none focus:ring-2 focus:ring-[#964141]"
              >
                Comprar Ahora
              </button>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 md:hover:scale-105">
          <img
            src="https://img.freepik.com/foto-gratis/idea-receta-fotografia-comida-bistec-costilla-fresca_53876-146572.jpg?t=st=1739559487~exp=1739563087~hmac=5aeedf07c74fd681eee0e61efb8ecd698d760d3351f88086a51414a2458cd639&w=996"
            alt="Product 2"
            class="w-full h-48 object-cover"
            
          />
          <div class="p-4">
            <h2 class="text-lg font-semibold text-gray-800">Chuletón de Ternera</h2>

            <div class="mt-4 flex items-center justify-between">
              <span class="text-xl font-bold text-[#964141]">18.99€ / kg</span>
              <button
                class="px-4 py-2 bg-[#964141] text-white text-sm font-medium rounded-full hover:bg-[#7a5a5a] focus:outline-none focus:ring-2 focus:ring-[#964141]"
              >
                Comprar Ahora
              </button>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 md:hover:scale-105">
          <img
            src="https://leñaallomo.com/wp-content/uploads/2021/04/LOMO-BAJO-DSC02617.jpg"
            alt="Product 3"
            class="w-full h-48 object-cover"
            
          />
          <div class="p-4">
            <h2 class="text-lg font-semibold text-gray-800">Lomo de Ternera</h2>

            <div class="mt-4 flex items-center justify-between">
              <span class="text-xl font-bold text-[#964141]">25.99€ / kg</span>
              <button
              class="px-4 py-2 bg-[#964141] text-white text-sm font-medium rounded-full hover:bg-[#7a5a5a] focus:outline-none focus:ring-2 focus:ring-[#964141]"
            >
              Comprar Ahora
            </button>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>
