---

---

<main  >

  <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
    <div
      class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2 ">
      <figure>
        <img
          class="w-full h-103 rounded-3xl shadow-2xl object-cover bg-negroni-500"
          src="/assets/MuslitosDePollo.png"
          alt=""
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-black">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                1KG alitas, 1KG muslitos, 1KG traseros.
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Lote 1 Pollo</p>
          </div>
          <p class="text-base text-tomato-500">14,99€</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full h-103 rounded-3xl shadow-2xl object-cover"
          src="https://i.pinimg.com/736x/1c/22/6e/1c226e7c2996352ea64876eea982a5a5.jpg"
          alt=""
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-black">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                1KG filete pollo, 1KG hamburguesas
                (mixtas o pollo), 1KG jamoncitos
              </a>
            </h3>
          </div>
          <p class="text-base text-tomato-500">14,99€</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full h-103 rounded-3xl shadow-2xl object-cover bg-negroni-500"
          src="https://i.pinimg.com/736x/3c/ee/a0/3ceea0a24d14902218d51322b0c923ca.jpg"
          alt=""
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-black">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                1KG salchichas cerdo, 1KG lomo
              adobo, 1KG jamoncitos.
              </a>
            </h3>
          </div>
          <p class="text-base text-tomato-500">19,99€</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full h-103 rounded-3xl shadow-2xl object-cover"
          src="https://i.pinimg.com/736x/65/0b/58/650b58dc39cd85969fdc5d47d3d7fdba.jpg"
          alt=""
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="mr-10 text-sm text-black">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0 "></span>
                1KG filetes ternera, 1KG picada
              mixta, 1KG alitas pollo, 1KG traseros pollo, 1KG chuletas aguja.
              </a>
            </h3>
          </div>
          <p class="text-base text-tomato-500">29,99€</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full h-103 rounded-3xl shadow-2xl object-cover bg-negroni-500"
          src="https://i.pinimg.com/736x/81/f8/51/81f851866b9ee3913a111117982083c4.jpg"
          alt=""
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-black">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                1KG filetes de ternera, 1KG picada mixta, 1KG guisar
              </a>
            </h3>
          </div>
          <p class="text-base text-tomato-500">27,99€</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full h-103 rounded-3xl shadow-2xl object-cover bg-negroni-500"
          src="https://comercialnovafrigo.com/wp-content/uploads/2020/02/moruno-600x600.png"
          alt=""
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="mr-1.5 text-sm text-black">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0 "></span>
                1KG pincho cerdo, 1KG chorizo
              casero, 1KG morcilla cebolla, 1KG panceta fresca, 1KG butifarra
              blanca.
              </a>
            </h3>
          </div>
          <p class="text-base text-tomato-500">35€</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full h-103 rounded-3xl shadow-2xl object-cover bg-negroni-500"
          src="https://img.freepik.com/fotos-premium/arreglo-piezas-carne-pollo-crudo-fresco_89816-16254.jpg"
          alt=""
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="mr-10 text-sm text-black">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                2KG filetes pollo, 2KG
              traseros de pollo, 2KG alas pollo, 2KG muslitos pollo, 1KG burger
              pollo o mixtas, 1KG filetes ternera, 1KG guisar ternera.
              </a>
            </h3>
          </div>
          <p class="text-base text-tomato-500">27,99€</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full h-103 rounded-3xl shadow-2xl object-cover"
          src="https://i.pinimg.com/736x/03/37/04/033704a99bd13c843cad1c786c4f17df.jpg"
          alt=""
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="mr-10 text-sm text-black">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0 "></span>
                1KG hamburguesas, 1KG
              filetes ternera, 1KG falda ternera, 1KG traseros pollo, 1KG muslos
              pollo, 1KG chuletas aguja, 1KG picada mixta, 1KG magro de cerdo,
              1KG lomo adobo/ajillo, 1KG costillas adobadas.
              </a>
            </h3>
          </div>
          <p class="text-base text-tomato-500">35€</p>
        </div>
      </figure>
    </div>
  </div>
</main>
