---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
import Header from "../components/global/Header.astro";
---

<html lang="en" class="flex sm:grid">
  <head>
    <BaseHead />
  </head>
  <Header/>
  <body class="bg-charcoal-500">
    <slot />
    <Footer/>
  </body>
</html>
