<section class="bg-white mt-25 mr-6 ml-6">
  <div class="container mx-auto px-4">
    <!-- Contenedor de las cajas -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Caja 1 -->
      <div class="group cursor-pointer rounded-lg overflow-hidden shadow-md md:w-135 mx-auto">
        <a >
          <img
            src="/assets/Carne.png"
            alt="Descripción de la imagen 1"
            class="w-full h-auto transition-transform transform group-hover:scale-105"
          />
        </a>
      </div>

      <!-- Caja 2 -->
      <div class="group cursor-pointer rounded-lg overflow-hidden shadow-md md:w-135 mx-auto">
        <a >
          <img
            src="/assets/Pollo.png"
            alt="Descripción de la imagen 2"
            class="w-full h-auto transition-transform transform group-hover:scale-105"
          />
        </a>
      </div>
    </div>
  </div>
</section>
