<footer>
  <div class="flex flex-col items-center text-center mx-auto px-8 w-full xl:max-w-7xl xl:px-36">
    <div class="flex flex-col gap-y-6 items-center justify-center lg:py-16 pb-6 pt-16">
      <div>
        <p class="font-bold italic text-2xl lg:text-4xl">
          quickstore.
        </p>
        <p class="text-sm mt-1">
          Designed and built in the Åland Islands<br />by
          <a href="https://michaelandreuzza.com/" class="underline hover:text-negroni-500 duration-200">
            Michael Andreuzza.
          </a>
        </p>
      </div>
      <nav class="flex gap-8 mt-6">
        <a href="https://lexingtonthemes.com/" class="text-negroni-500 h-8 delay-150 hover:text-tomato-500 text-sm transition-colors">
          Lexington Themes
        </a>
        <a href="https://github.com/michael-andreuzza/quickstore" class="text-negroni-500 h-8 delay-150 hover:text-tomato-500 text-sm transition-colors">
          Github
        </a>
        <a href="https://twitter.com/lexingtonthemes" class="text-negroni-500 h-8 delay-150 hover:text-tomato-500 text-sm transition-colors">
          Twitter
        </a>
      </nav>
    </div>
    <div class="flex flex-col border-t border-negroni-500/10 w-full pt-8">
      <p class="text-tomato-500 text-sm">
        A free template by Lexington Themes
      </p>
    </div>
  </div>
</footer>