<header class="flex items-center justify-between px-4 py-6 bg-black">
  
  <!-- Menú a la izquierda -->
  <div class="flex items-center gap-4 ml-4 mr-8">
    <button aria-label="Abrir menú" id="menuButton">
      <img src="/assets/Menu_white.png" alt="Menu" class="flex items-center w-8 h-8">
    </button>
    <!-- Opciones del menú eliminadas -->
  </div>
  
  <!-- Logo y Nombre de la empresa centrados en el medio, uno encima de otro -->
  <div class="flex-1 text-center">

      <img src="/assets/logoCarniceria_white.png" alt="Logo" class="inline-block h-[60px] sticky ">

    <h1 class="text-white text-3xl font-serif">Carnicería El Viso</h1>
  </div>
  
  <!-- Carrito a la derecha -->
  <div class="flex items-center gap-4 mr-4 ml-8">
    <a href="/Paginapedido" class="flex items-center">
      <img src="/assets/CarritoBlanco.png" alt="Carrito" class="w-8 h-8">
    </a>
  </div>  
</header>