---
import logo from "@/assets/logoCarniceria.png";
---

<!-- Logo
<div class="sticky top-0 z-10 bg-white h-[50px] px-4 rounded-full flex items-center justify-center ml-8">
  <img src="/src/assets/logoCarniceria.png" alt="Logo" class="h-[40px]">
</div> -->

<a href="/" 
    class="sticky top-0  bg-white h-[50px] px-4 rounded-full flex items-center justify-center ml-8 w-fit">
  <img
    src={logo.src}
    alt="CarniceriaElViso"
    class="w-10 h-10 lg:w-12 lg:h-12 object-contain"
  />
</a>
