---
export interface Props {
  title: string; // Texto que aparece centrado
  backgroundImage: string; // Ruta o URL de la imagen de fondo
}

const { title, backgroundImage } = Astro.props;
---

<section
  class="relative w-full h-48 md:h-80 flex items-center justify-center text-center text-white bg-cover bg-center bg-no-repeat mt-13 mb-1 md:mb-10 italic text-lg font-serif"
  style={`background-image: url('${backgroundImage}');`}
>

  <!-- Texto del subheader -->
  <h1 class="relative z-10 text-3xl md:text-6xl font-bold font-sans">{title}</h1>
</section>